[Unit]
Description=Mopidy music server
After=dbus.service
After=pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/mopidy
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
