[Unit]
Description=Polybar

[Service]
Type=simple
ExecStart=polybar --reload bottom_DVI -c  /home/fewcm/.config/polybar/config
Restart=always

[Install]
WantedBy=multi-user.target
