# all ignore #
/*
/.**

*.git/
*MyArxh*
*.zwc
*.uuid
*tmp
*.log
*.bak
*socket
*.socket

/home/fewcm/.config/geany/geany_socket_MyArxh__0
run/user/1000/geany/geany_socket.d64852c1

!/Pictures/
!/Pictures/**

!.bash_logout
!.ssh/
!.ssh/**
!.bash_profile
!.bashrc
!.dmrc
!.editorconfig
!.gitignore
!.fdignore
!.hushlogin
!.Xresources
!.xsettingsd
!.zshenv
!foreignpkglist.txt
!pkglist.txt

## local
!/.local/
!/.local/**
/.local/lib/
/.local/include/
!/.local/bin/
!/.local/bin/**
/.local/share/
!/.local/share/
/.local/share/**
!/.local/share/dwm/
!/.local/share/dwm/**
!/.local/share/fonts/
!/.local/share/fonts/**
!/.local/share/nemo/
!/.local/share/nemo/**
!/.local/share/gnupg/
!/.local/share/gnupg/**

## config
!/.config/
!/.config/**
/.config/user-dirs.dirs
/.config/user-dirs.locate
/.config/autostart/
/.config/Authy\ Desktop/
/.config/czkawka/
/.config/FireDM/
/.config/font-manager/
/.config/goa-1.0/
/.config/gh/
/.config/menus/
/.config/Mullvad VPN/
/.config/pulse/
/.config/skypeforlinux/
/.config/vifm/
/.config/vlc/
/.config/xfce4/
/.config/google-*
/.config/microsoft-*
/.config/Code/**
/.config/Code/User/
!/.config/Code/User/
/.config/Code/User/**
!/.config/Code/User/settings.json
