#include ".config/X11/dwm/color"
#include ".config/X11/dwm/dwm"
#include ".config/X11/dwm/rxvt-unicode"

!st.font: Iosevka Term:style=Regular:size=12:antialias=true:autohint=true
!st.font: JetBrainsMono:style=Regular:size=12:antialias=true:autohint=true
st.borderpx: 15

!dmenu.background    : #2C2827
!dmenu.foreground    : #d4be98
!dmenu.selbackground : #2C2827
!dmenu.selforeground : #ae5858
 
!Xdefaults --
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
!hintmedium hintslight hintfull
Xft.lcdfilter: lcddefault
Xcursor.theme: Bibata-Modern-Amber
Xcursor.size: 24

